{{ define "main" -}}
{{ if .Site.Params.light_dark }}
    {{ partial "light_dark.html" . }}
{{ end }}
<div class="post">
    {{ with .Site.GetPage "/about" }}
        {{ if .Pages }}
            {{ range .Pages }}

                <img src="/images/qr-code-dark.png" style="max-width: 7em; float: right; margin-left: 0.5em; margin-bottom: 0.5em;" />
                <h1 class="post-title">{{ .Title }}</h1>
                <h2 class="post-subtitle">{{ .Params.subtitle | markdownify }}</h2>
                <br />
                br /> {{ partial "sidebar/socials.html" . }}
                <!-- ![QR](/images/qr-code-dark.png) -->
                <!-- <div>
                  <h3><a href="{{ .Site.Params.github_url }}">GitHub</a> Contributions</h3>
                  <img src="https://ghchart.rshah.org/{{ .Site.Params.brand }}" alt="{{ .Site.Params.brand }}'s Github chart" />
                </div> -->

                {{ .Content }}
            {{ end }}
        {{ else }}
            <h1 class="post-title">{{ .Title }}</h1>

            {{ .Content }}

        {{ end }}

    {{ end }}
    {{ if (.Site.Params.listmonk) }}
        {{ partial "post/listmonk_email_newsletters.html" . }}
    {{ end }}
</div>
{{ end }}
{{ define "sidebar" }}
    <!-- Custom -->
    <div class="article-toc">
        <div class="row">
          {{ if .Site.Params.aboutPics }}
            {{ range .Site.Params.aboutPics }}
              <div class="col-md-6">
                <img src="{{ . }}" alt="Profile" class="img-fluid" style="max-width: 40%; height: auto; display: block; object-fit: contain;">
              </div>
            {{ end}}
          {{ end }}
        </div>
        {{ if .Site.Params.aboutDesc }}
        {{ .Site.Params.aboutDesc | markdownify  }}
        {{ end }}
      </div>
    <!-- Custom -->
{{ end }}

