{{ define "main" }}
<main class="page-main pa4 {{ .Kind }}" role="main">
  <section class="blog-content mw7 center">
    {{ $paginator := .Paginate (where .Pages "Type" "blog") }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
    
    {{ partial "shared/list-pagination.html" . }}
  </section>
</main>
<aside class="page-sidebar" role="complementary">
  {{ .Scratch.Set "sidebar" .Site.Data.sidebar_content.blog.list_sidebar }}
  {{ partial "shared/sidebar-content.html" . }}
  <div class="blog-info pa4">
    <h1 class="f3">Categories</h1>
    <ul class="categories">
      {{range $key, $taxonomy := .Site.Taxonomies.categories}}
        <a href="{{ "categories/" | absURL }}{{ $key | urlize }}" class="btn btn-primary btn-{{$key}}">{{ title $key }}</a>
      {{end}}
    </ul>
  </div>
 
</aside>
{{ end }}
